/* ==========================================================================
 Main Elements
========================================================================== */

/** Sub-section comment block **/

/* ==========================================================================
 Colors
========================================================================== */

html {
	--color-brown: #401c0e;
	--color-brown-dark: #220000;
	--color-brown-light: #634434;

	--color-red: #c20a12;
	--color-red-dark: #890000;
	--color-red-light: #fd503c;


	--color-blue: #00b9ae;
	--color-blue-dark: #00887f;
	--color-blue-light: #5dece0;


	--color-gold: #e89005;
	--color-gold-dark: #b06200;
	--color-gold-light: #ffc046;


	--color-beige: #f8eee0;
	--color-beige-dark: #c5bcae;
	--color-beige-light: #fff;

	--color-gray: #2c2c2c;
	--color-gray-dark: #000;
	--color-gray-light: #555;

	--primary-border: 2rem;

	background-color: var(--color-beige);
	color: var(--color-brown-dark);


}

/* ==========================================================================
 Layout
========================================================================== */


body {

	margin: 0;

}

main {
	margin: 5rem auto;
	max-width: 45rem;
}

section {
	margin: auto 2rem;
}


figure {
	margin: auto 0;
}

@media (min-width: 600px) {

	html {

		--ratio: 1.3;

	}

}



/* ==========================================================================
 Typography
========================================================================== */

html {
	--font-primary: 'Open Sans', sans-serif;
	--font-secondary: 'Coiny', cursive;

	--ratio: 1.2;

	--size-main-headline: calc(var(--size-sub-headline) * var(--ratio));;
	--size-sub-headline: calc(var(--size-subhead-large) * var(--ratio));

	--size-subhead-large: calc(var(--size-subhead-medium) * var(--ratio));
	--size-subhead-medium: calc(var(--size-subhead-small) * var(--ratio));
	--size-subhead-small: calc(var(--size-subsection) * var(--ratio));
	--size-subsection: calc(var(--size-base) * var(--ratio));

	--size-base: calc(1rem * var(--ratio));

	--size-mini: calc(.7rem * var(--ratio));
	--size-micro: calc(.55rem * var(--ratio));


	font-family: var(--font-primary);
	line-height: 1.4;

	

}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 1.5em auto .5em;
}

h1, h2, h3 {
	font-family: var(--font-secondary);
	font-weight: normal;
}

h1 {
	font-size: var(--size-main-headline);
	color: var(--color-brown-light);
}

h2 {
	font-size: var(--size-sub-headline);
	color: var(--color-brown);
}

h3 {
	font-size: var(--size-subhead-large);

}


h4 {
	font-size: var(--size-subhead-medium);
	font-weight: 700;
	color: var(--color-blue);
}

h5 {
	font-size: var(--size-subhead-small);
}

h6 {
	font-size: var(--size-subsection);
}


p {
	margin-top: 0;
}

a {
	color: var(--color-red);
	text-decoration: none;
}

a:active {
	color: var(--color-gold);
}

a:hover, a:focus {
	text-decoration: underline;
	outline: none;
}

blockquote {
	color: var(--color-beige);
	background-color: var(--color-brown);
	border-radius: 2.5rem;
	font-size: var(--size-subsection);
	font-weight: 700;
	padding: 2rem;
}

cite {
	font-family: var(--font-secondary);
	font-weight: 400;
	letter-spacing: .15rem;
}

/** List Styles **/

ul, ol {
	padding: 0;
}

ol,  ul {
	font-weight: 700;
	margin: .5rem 0;
}

ol li {
	font-weight: 700;
	list-style-type: lower-roman;
}

ol li li {
	color: var(--color-gold);
	font-size: var(--size-mini);
	margin-left: 2rem;
}

li{
	list-style-type: none;
}

ul li li {
	color: var(--color-blue-dark);
	font-size: var(--size-mini);
	font-weight: normal;
	list-style-type: circle;
	margin-left: 2rem;
}

ul div, ul p {
	font-weight: normal;
}

li h1, li h2, li h3, li h4, li h5, li h6 {
	margin: 0 auto 3rem;
}


/** Font Styles & Examples **/

.item-descriptor {
	font-size: .75rem;
	text-transform: uppercase;
	color: var(--color-blue-dark);
	margin-top: 1.5rem;
}

.subdescriptor {
	font-size: var(--size-micro);
}

.primary-font {
	font-family: var(--font-primary);
	font-size: var(--size-subhead-medium);
}

.secondary-font {
	font-family: var(--font-secondary);
	font-size: var(--size-subhead-medium);
}

.subsection {
	font-family: var(--font-secondary);
	font-size: var(--size-subsection);
}

.dominant {
	font-size: var(--size-subsection);
	font-weight: 700;
}


.dominant-base {
	font-weight: 700;
}

.mini-body {
	font-size: var(--size-mini);
}

.micro-body{
	font-size: var(--size-micro);
}


/** Recipe Webpage Title **/

.recipe-logo {
	background-color: var(--color-blue-dark);
	border: 15px dashed var(--color-blue);
	border-radius: 2rem;
	display: inline-block;
	padding: 2rem;
	
}



/* ==========================================================================
 Header Component
========================================================================== */

header {
	background-color: var(--color-brown);
	color: var(--color-beige);
	padding: 2rem;
}

header h1 {
	color: var(--color-beige);
}

header li {
	display: inline-block;
	margin-top: 1.25rem;
}

header .primary-button {
	margin: .2rem;
}

/* ==========================================================================
 Footer Component
========================================================================== */

footer {
	background-color: var(--color-brown);
	color: var(--color-beige);
	padding: 2rem;
}


/* ==========================================================================
 Button Link Component
========================================================================== */

 .primary-button, .secondary-button, .tertiary-button {
	background-color: var(--color-red);
	border-radius: .9rem;
	color: var(--color-beige);
	display: inline-block;
	margin: 1rem 2rem;
	padding: .7rem 1.5rem;
	
}

.secondary-button {
	background-color: var(--color-blue);
	transition: all .5s;
}

.tertiary-button {
	border: 3px solid var(--color-brown);
	background-color: transparent;
	color: var(--color-brown);
	transition: all .5s ease-in;
}


.primary-button:hover, .primary-button:focus {
	animation: bounce .65s;
	background-color: var(--color-red-dark);
	text-decoration: none;
}

.secondary-button:hover, .secondary-button:focus {
	background-color: var(--color-blue-dark);
	text-decoration: none;
	transform: scale(1.1);
	transition: all .5s;

}

.tertiary-button:hover, .tertiary-button:focus {
	background-color: var(--color-brown);
	color: var(--color-beige);
	text-decoration: none;
	transition: all .5s ease-in;
}

.primary-button:active, .secondary-button:active, .tertiary-button:active{
	background-color: var(--color-gold);
	border: none;
	color: var(--color-beige);
	
}

@keyframes bounce {
	 0% {
   		transform: scale(1,1)
   		translate(0, 0);
 	 }
  
  	30%{
    	transform: scale(1,0.8)
    	translate(0, 10px); 
 	 }

  	75%{
    	transform: scale(1,1.1)
    	translate(0, -20px); 
  	}
  
 	100% {
    	transform: scale(1,1)
    	translate(0, 0);
 	 }
}


/* ==========================================================================
Accordion Component
========================================================================== */

summary {
	font-weight: 700;
	list-style-image: url(images/right-arrow.svg);
}

summary:focus {
	outline: none;
}

summary::-webkit-details-marker {
	background: url(images/right-arrow.svg);
	color: transparent;
	background-repeat: no-repeat;
}

details {
	background-color: var(--color-blue);
	border-radius: 1.5rem;
	color: var(--color-beige);
	margin-bottom: .25rem;
	padding: 1rem;
}	

details[open] summary::-webkit-details-marker {
	background: url(images/down-arrow.svg);
	background-repeat: no-repeat;
}

details div {
	background-color: var(--color-beige-light);
	border-radius: 1.5rem;
	color: var(--color-brown-dark);
	margin-top: 1rem;
	padding: 1.5rem;
	
}

/* ==========================================================================
Modal Dialog Component
========================================================================== */

dialog {
	background-color: var(--color-beige);
	border-radius: var(--primary-border);
	border: 1rem solid var(--color-brown);
	max-width: 80%;
	padding: 0;
}

 dialog h3 {
 	background-color: var(--color-red);
 	border-radius: var(--primary-border);
 	color: var(--color-beige-light);
 	margin-top: 0;
 	padding: 2rem 1rem 1rem;
 }

 dialog div {
 	background-color: var(--color-beige);
 	border-radius: 2rem;
 	padding: 1rem;

 }

 dialog .secondary-button, dialog .secondary-button-disabled {
 	margin: 1rem;
 }

 dialog[open]{
	animation: jump-up .85s ease-out;
 }

 dialog::backdrop {
 	background-color: rgba(248, 238, 224, .65);
 	background-image: url(images/candy-pattern.svg);
 }


 @keyframes jump-up {
	0% {
		opacity: 0;
		transform: scale(1, 1)
		translate(0, 600px);
 	 }
  
  	30%{
   		transform: scale(1, .75)
    	translate(0, -400px);
 	 }

  	75%{
  		opacity: 1;
   		transform: scale(1, 1.08)
    	translate(0, 0); 
  	}
  
 	100% {
 		
   		transform: scale(1,1)
   		translate(0, 0);
 	 }
 }

@media (min-width: 600px) {
	
	dialog {
		max-width: 50%;
	}
}


/* ==========================================================================
Forms Component
========================================================================== */

form {
	background-color: var(--color-blue);
	border: 1rem solid var(--color-blue);
	border-radius: var(--primary-border);
	color: var(--color-brown);
	margin-top: 1rem;
}

form div {
	background-color: var(--color-beige-light);
	border-radius: 1.5rem;
	padding-top: 1rem;
}

form h2 {
	margin: 2rem;
}

input, select, form p {
	border-radius: .75rem;
	display: block;
	margin: 0 2rem 1rem;
	padding: .5rem;
}


label {
	font-weight: 700;
	display: block;
	margin: .25rem 2rem .15rem;
}

input:focus, select:focus, textarea:focus {
	box-shadow: 3px 3px var(--color-gold);
	outline: none;
}

textarea {
	border-radius: 1.5rem;
	display: block;
	min-width: 20rem;
	min-height: 15rem;
	margin: 1rem 2rem 0;
	padding: .5rem;
}


.error {
	border-color: var(--color-red-light);
}

.error-text {
	background-color: var(--color-red-light);
	color: var(--color-beige-light);
	padding: .5rem;
}

.helper-text {
	font-size: var(--size-mini);
}

.focus-state {
	box-shadow: 3px 3px var(--color-gold);
	outline: none;
}


@media (min-width: 600px){
	
	textarea{
		min-height: 10rem;
		min-width: 25rem;
	}

	form {
	border: 2rem solid var(--color-blue);
	}
}

/* ==========================================================================
 Submit / Button Components
========================================================================== */

input[type=submit], button {
	background-color: var(--color-red);
	border-radius: 1.25rem;
	color: var(--color-beige);
	display: inline-block;
	font-family: var(--font-secondary);
	font-size: var(--size-subsection);
	font-weight: normal;
	margin: 2rem;
	padding: .7rem 1.5rem;
}


input[type=submit]:hover, button:hover{
	background-color: var(--color-red-dark);
	
}

input[type=submit]:focus, button:focus {
	box-shadow: 3px 3px var(--color-gold);
	outline: none;
}

input[type=submit]:active, button:active {
	background-color: var(--color-gold);
}

.submit-hover[type=submit] {
	background-color: var(--color-red-dark);
}

.submit-active[type=submit] {
	background-color: var(--color-gold);
}



/* ==========================================================================
Card Components
========================================================================== */

/** Recipe Card/ Blog Card **/

.card-post {
	max-width: 30rem;
}

.card-cover {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.0), rgba(255,255,255, 1.0)), url(images/caramel-pecan-fudge.jpg) no-repeat center;
	background-size: cover;
	border-radius: 2rem 2rem 0 0;
	padding: 10rem .5rem 0 .5rem;
}



.card-cover h3 {
	font-size: var(--size-subhead-small);
	padding: 0 .5rem;
	margin: 0;
	line-height: 1;
}

.card-cover h6 {
	color: var(--color-blue);
	font-size: var(--size-mini);
	padding: 0 1rem;
	margin: 0;
	text-align: right;
}

.card-content {
	display: flex;
	flex-direction: row;
	background-color: var(--color-beige-light);
}

.card-content a:hover {
	text-decoration: none;
	color: var(--color-beige-light);
}
.card-post p {
	font-size: var(--size-subhead);
	font-weight: 700;
	padding: 1rem .5rem;
}

.card-links {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.details, .download-post {
	padding: .5rem;
}

.details {
	align-items: center;
	background-color: var(--color-gold);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.details:hover {
	background-color: var(--color-red);
}


.download-post {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.details img, .download img {
	width: 40px;
}

.download-post:hover {
	background-color: var(--color-blue);
}





/**========================== Profile Card ==========================**/

.profile-post {
	border-bottom: 1rem solid var(--color-red);
	border-radius: 2rem 2rem 0 0;
	background-color: var(--color-beige-light);
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	max-width: 20rem;
	margin: auto;
}

.profile-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.profile-info div {
	align-items: center;
	display: flex;
	flex-direction: row;
	padding-bottom: .5rem;
}

.profile-info div p {
	margin: 0;
}

.profile-info img {
	padding-right: .5rem;
	width: 20px;
}

.profile-images {
	display: flex;
	flex-direction: column;
}

.profile-images img {
	margin: auto;
}

.profile-headshot {
	width: 200px;
}

.social-icons {
	align-items: center;
	background-color: var(--color-blue-light);
	display: flex;
	justify-content: space-around;
	padding: .5rem 1rem;
}


@media (min-width: 1500px) {
	.profile-post {
		border-radius: 2rem 0 0 2rem;
		flex-direction: row;
		max-width: 35rem;
	}

	.profile-info {
		text-align: left;
	}

	.social-icons {
		justify-content: space-between;
	}
}

/* ==========================================================================
Notifications
========================================================================== */

.neutral-note {
	background-color: var(--color-beige-light);
}

.success-note {
	background-color: var(--color-blue-light);
}

.warning-note {
	background-color: var(--color-gold-light);
}

.error-note {
	background-color: var(--color-red-light);
}

.neutral-note, .success-note, .warning-note, .error-note {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 1rem;
}

.neutral-note img {
	background-color: var(--color-beige-dark);

}

.success-note img {
	background-color: var(--color-blue);
	
}

.warning-note div {
	display: flex;
	flex-direction: column;
}

.warning-note div div {
	display: flex;
	flex-direction: row;
}

.warning-note a, .error-note a {
	padding: 0 1rem;
	margin-right: .2rem;
}


.error-note img, .warning-note img, .success-note img, .neutral-note img {
	border-radius: 1rem 0 0 1rem;
	padding: 2rem;
	height: 3rem;
}

.warning-note img {
	background-color: var(--color-gold);
	padding: 3rem 2rem;
}

.error-note img {
	background-color: var(--color-red);
	padding: 3rem 2rem;
}


.error-note p, .warning-note p, .success-note p, .neutral-note p {
	padding-left: 2rem;
	margin: 0;
}

@media (min-width: 600px){
	.error-note img, .warning-note img {
		padding: 2rem 2rem;
	}
}

/* ==========================================================================
Card Grid Layout
========================================================================== */

.post-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1rem;
	margin: 1rem 0;
	padding: 1rem;
	background-color: var(--color-red);
}

.first-post {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.0), rgba(255,255,255, 1.0)), url(images/fondant-cake.jpg) no-repeat center;
}

.second-post {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.0), rgba(255,255,255, 1.0)), url(images/baker-brothers.jpg) no-repeat center;
}

.third-post {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.0), rgba(255,255,255, 1.0)), url(images/red-velvet.jpg) no-repeat center;
}

.fourth-post {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.0), rgba(255,255,255, 1.0)), url(images/chocolate-covered.jpg) no-repeat left bottom;
}

.fifth-post {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.0), rgba(255,255,255, 1.0)), url(images/dessert-diet.jpg) no-repeat center;
}

.sixth-post {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.0), rgba(255,255,255, 1.0)), url(images/got-cupcakes.jpg) no-repeat center;
}


@media (min-width: 700px){
	.post-grid {
	grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 975px) {
	.post-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1300px) {
	.post-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}


/* ==========================================================================
Card People Grid Layout
========================================================================== */

.profile-grid {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 1rem;
	margin: 1rem 0;
	padding: 1rem;
	background-color: var(--color-blue-dark);
}


@media (min-width: 580px){
	.profile-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 875px) {
	.profile-grid {
		grid-template-columns: repeat(3, 1fr);
	}

}

}


/* ==========================================================================
 Examples
========================================================================== */

/** Static examples of various Button link states Primary, Secondary, and Tertiary **/

.primary-button-hover, .primary-button-active, .primary-button-disabled, .secondary-button-hover, .secondary-button-active, .secondary-button-disabled, .tertiary-button-hover, .tertiary-button-active, .tertiary-button-disabled {
	background-color: var(--color-red);
	border-radius: .9rem;
	color: var(--color-beige);
	display: inline-block;
	margin: 1rem 2rem;
	padding: .7rem 1.5rem;
}

.primary-button-hover {
	background-color: var(--color-red-dark);
	border-radius: .9rem;
	color: var(--color-beige);
	padding: .7rem 1.5rem;
}

.primary-button-active, .secondary-button-active, .tertiary-button-active {
	background-color: var(--color-gold);
	border-radius: .9rem;
	color: var(--color-beige);
	padding: .7rem 1.5rem;
}

.secondary-button-hover {
	background-color: var(--color-blue-dark);
	border-radius: .9rem;
	color: var(--color-beige);
	padding: .9rem 1.75rem;
}

.tertiary-button-hover {
	background-color: var(--color-brown);
	border-radius: .9rem;
	color: var(--color-beige);
	padding: .7rem 1.5rem;
}

.primary-button-disabled, .secondary-button-disabled {
	background-color: var(--color-beige-dark);
	border-radius: .9rem;
	color: var(--color-beige);
	padding: .7rem 1.5rem;

}

.tertiary-button-disabled {
	border: 3px solid var(--color-beige-dark);
	background-color: transparent;
	border-radius: .9rem;
	color: var(--color-beige-dark);
	padding: .7rem 1.5rem;
}


/** Focus State For Form **/

.form-focus-state {
	box-shadow: 3px 3px var(--color-gold);
	outline: none;
}


/** States for Submit Button **/	



.submit-hover[type=submit] {
	background-color: var(--color-red-dark);
}

.submit-active[type=submit] {
	background-color: var(--color-gold);
}

.submit-disabled[type=submit] {
	background-color: var(--color-beige-dark);
}


/** Layout Grid Example **/	

.grid-examples img {
	max-width: 75%;
}