/* ==========================================================================
 Main Elements
========================================================================== */

/** Sub-section comment block **/

/* ==========================================================================
 Colors
========================================================================== */

html {
	--color-brown: #401c0e;
	--color-brown-dark: #220000;
	--color-brown-light: #634434;

	--color-red: #c20a12;
	--color-red-dark: #890000;
	--color-red-light: #fd503c;


	--color-blue: #00b9ae;
	--color-blue-dark: #00887f;
	--color-blue-light: #5dece0;


	--color-gold: #e89005;
	--color-gold-dark: #b06200;
	--color-gold-light: #ffc046;


	--color-beige: #f8eee0;
	--color-beige-dark: #c5bcae;
	--color-beige-light: #fff;

	--color-gray: #2c2c2c;
	--color-gray-dark: #000;
	--color-gray-light: #555;

	background-color: var(--color-beige);
	color: var(--color-brown-dark);
}

/* ==========================================================================
 Layout
========================================================================== */


body {

	margin: 0;

}

main {
	margin: 5rem auto;
	max-width: 45rem;
}

section {
	margin: auto 2rem;
}


figure {
	margin: auto 0;
}


@media (min-width: 600px) {

	html {

		--ratio: 1.3;

	}

}

/* ==========================================================================
 Typography
========================================================================== */

html {
	--font-primary: 'Open Sans', sans-serif;
	--font-secondary: 'Coiny', cursive;

	--ratio: 1.2;

	--size-main-headline: calc(var(--size-sub-headline) * var(--ratio));;
	--size-sub-headline: calc(var(--size-subhead-large) * var(--ratio));

	--size-subhead-large: calc(var(--size-subhead-medium) * var(--ratio));
	--size-subhead-medium: calc(var(--size-subhead-small) * var(--ratio));
	--size-subhead-small: calc(var(--size-subsection) * var(--ratio));
	--size-subsection: calc(var(--size-base) * var(--ratio));

	--size-base: calc(1rem * var(--ratio));

	--size-mini: calc(.7rem * var(--ratio));
	--size-micro: calc(.55rem * var(--ratio));


	font-family: var(--font-primary);
	line-height: 1.4;

}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 1.5em auto .5em;
}

h1, h2, h3 {
	font-family: var(--font-secondary);
	font-weight: normal;
}

h1 {
	font-size: var(--size-main-headline);
	color: var(--color-brown-light);
}

h2 {
	font-size: var(--size-sub-headline);
	color: var(--color-brown);
}

h3 {
	font-size: var(--size-subhead-large);

}


h4 {
	font-size: var(--size-subhead-medium);
	font-weight: 700;
	color: var(--color-blue);
}

h5 {
	font-size: var(--size-subhead-small);
}

h6 {
	font-size: var(--size-subsection);
}


p {
	margin-top: 0;
}

a {
	color: var(--color-red);
	text-decoration: none;
}

a:active {
	color: var(--color-gold);
}

a:hover, a:focus {
	text-decoration: underline;
	outline: none;
}

blockquote {
	color: var(--color-beige);
	background-color: var(--color-brown);
	border-radius: 2.5rem;
	font-size: var(--size-subsection);
	font-weight: 700;
	padding: 2rem;
}

cite {
	font-family: var(--font-secondary);
	font-weight: 400;
	letter-spacing: .15rem;
}

/** List Styles **/

ul, ol {
	padding: 0;
}

ol,  ul {
	font-weight: 700;
	margin: .5rem 0;
}

ol li {
	font-weight: 700;
	list-style-type: lower-roman;
}

ol li li {
	color: var(--color-gold);
	font-size: var(--size-mini);
	margin-left: 2rem;
}

li{
	list-style-type: none;
}

ul li li {
	color: var(--color-blue-dark);
	font-size: var(--size-mini);
	font-weight: normal;
	list-style-type: circle;
	margin-left: 2rem;
}

ul div, ul p {
	font-weight: normal;
}

li h1, li h2, li h3, li h4, li h5, li h6 {
	margin: 0 auto 3rem;
}


/** Font Styles & Examples **/

.item-descriptor {
	font-size: .75rem;
	text-transform: uppercase;
	color: var(--color-blue-dark);
	margin-top: 1.5rem;
}

.subdescriptor {
	font-size: var(--size-micro);
}

.primary-font {
	font-family: var(--font-primary);
	font-size: var(--size-subhead-medium);
}

.secondary-font {
	font-family: var(--font-secondary);
	font-size: var(--size-subhead-medium);
}

.subsection {
	font-family: var(--font-secondary);
	font-size: var(--size-subsection);
}

.dominant {
	font-size: var(--size-subsection);
	font-weight: 700;
}


.dominant-base {
	font-weight: 700;
}

.mini-body {
	font-size: var(--size-mini);
}

.micro-body{
	font-size: var(--size-micro);
}


/** Recipe Webpage Title **/

.recipe-logo {
	background-color: var(--color-blue-dark);
	border: 15px dashed var(--color-blue);
	border-radius: 2rem;
	display: inline-block;
	padding: 2rem;
	
}



/* ==========================================================================
 Header Component
========================================================================== */

header {
	background-color: var(--color-brown);
	color: var(--color-beige);
	padding: 2rem;
}

header h1 {
	color: var(--color-beige);
}

header li {
	display: inline-block;
	margin-top: 1.25rem;
}

header .primary-button {
	margin: .2rem;
}

/* ==========================================================================
 Footer Component
========================================================================== */

footer {
	background-color: var(--color-brown);
	color: var(--color-beige);
	padding: 2rem;
}


/* ==========================================================================
 Button Link Component
========================================================================== */

 .primary-button, .secondary-button, .tertiary-button {
	background-color: var(--color-red);
	border-radius: .9rem;
	color: var(--color-beige);
	display: inline-block;
	margin: 1rem 2rem;
	padding: .7rem 1.5rem;
	
}

.secondary-button {
	background-color: var(--color-blue);
	transition: all .5s;
}

.tertiary-button {
	border: 3px solid var(--color-brown);
	background-color: transparent;
	color: var(--color-brown);
	transition: all .5s ease-in;
}


.primary-button:hover, .primary-button:focus {
	animation: bounce .65s;
	background-color: var(--color-red-dark);
	text-decoration: none;
}

.secondary-button:hover, .secondary-button:focus {
	background-color: var(--color-blue-dark);
	text-decoration: none;
	transform: scale(1.1);
	transition: all .5s;

}

.tertiary-button:hover, .tertiary-button:focus {
	background-color: var(--color-brown);
	color: var(--color-beige);
	text-decoration: none;
	transition: all .5s ease-in;
}

.primary-button:active, .secondary-button:active, .tertiary-button:active{
	background-color: var(--color-gold);
	border: none;
	color: var(--color-beige);
	
}

@keyframes bounce {
	 0% {
   		transform: scale(1,1)
   		translate(0, 0);
 	 }
  
  	30%{
    	transform: scale(1,0.8)
    	translate(0, 10px); 
 	 }

  	75%{
    	transform: scale(1,1.1)
    	translate(0, -20px); 
  	}
  
 	100% {
    	transform: scale(1,1)
    	translate(0, 0);
 	 }
}


/* ==========================================================================
Accordion Component
========================================================================== */

summary {
	font-weight: 700;
	list-style-image: url(images/right-arrow.svg);
}

summary:focus {
	outline: none;
}

summary::-webkit-details-marker {
	background: url(images/right-arrow.svg);
	color: transparent;
	background-repeat: no-repeat;
}

details {
	background-color: var(--color-blue);
	border-radius: 1.5rem;
	color: var(--color-beige);
	margin-bottom: .25rem;
	padding: 1rem;
}	

details[open] summary::-webkit-details-marker {
	background: url(images/down-arrow.svg);
	background-repeat: no-repeat;
}

details div {
	background-color: var(--color-beige-light);
	border-radius: 1.5rem;
	color: var(--color-brown-dark);
	margin-top: 1rem;
	padding: 1.5rem;
	
}

/* ==========================================================================
Modal Dialog Component
========================================================================== */

dialog {
	background-color: var(--color-beige);
	border-radius: 2rem;
	border: 1rem solid var(--color-brown);
	max-width: 80%;
	padding: 0;
}

 dialog h3 {
 	background-color: var(--color-red);
 	border-radius: 2rem;
 	color: var(--color-beige-light);
 	margin-top: 0;
 	padding: 2rem 1rem 1rem;
 }

 dialog div {
 	background-color: var(--color-beige);
 	border-radius: 2rem;
 	padding: 1rem;

 }

 dialog .secondary-button, dialog .secondary-button-disabled {
 	margin: 1rem;
 }

 dialog[open]{
	animation: jump-up .85s ease-out;
 }

 dialog::backdrop {
 	background-color: rgba(248, 238, 224, .65);
 	background-image: url(images/candy-pattern.svg);
 }


 @keyframes jump-up {
	0% {
		opacity: 0;
		transform: scale(1, 1)
		translate(0, 600px);
 	 }
  
  	30%{
   		transform: scale(1, .75)
    	translate(0, -400px);
 	 }

  	75%{
  		opacity: 1;
   		transform: scale(1, 1.08)
    	translate(0, 0); 
  	}
  
 	100% {
 		
   		transform: scale(1,1)
   		translate(0, 0);
 	 }
 }

@media (min-width: 600px) {
	
	dialog {
		max-width: 50%;
	}
}


/* ==========================================================================
Forms Component
========================================================================== */

form {
	background-color: var(--color-blue);
	border: 2rem solid var(--color-blue);
	border-radius: 2rem;
	color: var(--color-brown);
	margin-top: 1rem;
}

form div {
	background-color: var(--color-beige-light);
	border-radius: 1.5rem;
	padding-top: 1rem;
}

form h2 {
	margin: 2rem;
}

form input, form text, select, p {
	display: block;
	margin: 0 2rem 1rem;
	padding: .2rem;
}


form label {
	font-weight: 700;
	display: block;
	margin: .25rem 2rem .15rem;
}

input:focus, select:focus, textarea:focus {
	box-shadow: 3px 3px var(--color-gold);
	outline: none;
}

form textarea {
	display: block;
	min-height: 10rem;
	min-width: 25rem;
	margin: 0 2rem;
	padding: .2rem;
}


.error {
	border-color: var(--color-red);
}

.error-text {
	background-color: var(--color-red);
	color: var(--color-beige-light);
	padding: .5rem;
}

.helper-text {
	font-size: var(--size-mini);
}

/* ==========================================================================
 Submit / Button Components
========================================================================== */

input[type=submit], button {
	background-color: var(--color-red);
	border-radius: 1.25rem;
	color: var(--color-beige);
	display: inline-block;
	font-family: var(--font-secondary);
	font-size: var(--size-subsection);
	font-weight: normal;
	margin: 2rem;
	padding: .7rem 1.5rem;
}


input[type=submit]:hover, button:hover{
	background-color: var(--color-blue);
	
}

input[type=submit]:focus, button:focus {
	box-shadow: 3px 3px var(--color-gold);
	outline: none;
}

input[type=submit]:active, button:active {
	background-color: var(--color-gold);
}


/* ==========================================================================
 Examples
========================================================================== */

/** Static examples of various Button link states Primary, Secondary, and Tertiary **/

.primary-button-hover, .primary-button-active, .primary-button-disabled, .secondary-button-hover, .secondary-button-active, .secondary-button-disabled, .tertiary-button-hover, .tertiary-button-active, .tertiary-button-disabled {
	background-color: var(--color-red);
	border-radius: .9rem;
	color: var(--color-beige);
	display: inline-block;
	margin: 1rem 2rem;
	padding: .7rem 1.5rem;
}

.primary-button-hover {
	background-color: var(--color-red-dark);
}

.primary-button-active, .secondary-button-active, .tertiary-button-active {
	background-color: var(--color-gold);
}

.secondary-button-hover {
	background-color: var(--color-blue-dark);
	padding: .9rem 1.75rem;
}

.tertiary-button-hover {
	background-color: var(--color-brown);
}

.primary-button-disabled, .secondary-button-disabled {
	background-color: var(--color-beige-dark);

}

.tertiary-button-disabled {
	border: 3px solid var(--color-beige-dark);
	background-color: transparent;
	color: var(--color-beige-dark);
}





	



